.idea
venv
__pycache__
Resources/Temporary_files
*.ini
*.txt
Resources/Temporary_files/Current_Network.txt
Resources/Temporary_files/IP.txt
Resources/Temporary_files/Current_Network.txt
Resources/Temporary_files/IP_TO_SEND.txt
Resources/Temporary_files/Current_Network.txt
Resources/Temporary_files/Current_Network.txt
